<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="articles">Articles</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="register">Kayıt Ol</a>
          </li>

          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login">Giriş Yap</a>
          </li>

          <li class="nav-item" style="margin-left: 30px;">
            <button class="btn btn-outline-success" type="submit" routerLink="admin">Admin</button>
          </li>
        
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Ara..</button>
        </form>
      </div>
    </div>
  </nav>

  
<router-outlet></router-outlet>

<script src="https://kit.fontawesome.com/2b735ae65d.js" crossorigin="anonymous"></script>